# Bibliotecas utilizadas
pandas
numpy
scikit-learn
nltk
beautifulsoup4

# TensorFlow / Keras (para a BiLSTM)
tensorflow
keras

# Utilizado no pré-processamento de HTML e limpeza de texto
bs4

# Para a execução local é recomendado utilizar a versão 3.11
Python == 3.11