# Libraries used
pandas
numpy
scikit-learn
nltk
beautifulsoup4

# TensorFlow / Keras (for the BiLSTM)
tensorflow
keras

# Used for HTML preprocessing and text cleaning
bs4

# For local execution, it is recommended to use version 3.11
Python == 3.11
